export(cv.block.spls)
export(make.test.keepX)
importFrom(gtools,permutations)
importFrom(foreach,foreach)
importFrom(foreach,"%do%")
importFrom(foreach,"%dopar%")
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(doParallel,registerDoParallel)
importFrom(parallel,stopCluster)
importFrom(dplyr,"%>%")
importFrom(mixOmics,block.spls)
import(mixOmics)
